html, body {
  min-width: 100%;
  min-height: 507px;
  margin: 0;
}

body {  
  background: url("../../image/background.jpg") no-repeat;
  background-size: cover;
  color: rgba(253,255,250,0.8);
}

.intro {
  font-size: 3em;
  text-align: center;
  padding-top: 3em; 
}

#loading {
  min-height: 30%;
  min-width: 30%;
}

#container {
  border: 1px solid black;
  margin: 4% 10% 4%;
}

th, h3{
  text-align: center;
}

td {
  width: 500px;
}

table {
  background: url("../../image/totem.gif") no-repeat;
  background-size: cover;
}
